@font-face {
    font-family: 'NikeFontLight';
    src: url('../../../assets/fonts/Futura Std Book.ttf') format('truetype');
}
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15%;
    background-image: linear-gradient(
            to bottom,
            transparent,
            rgba(0, 0, 0, 0.67)
    );
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: NikeFontLight, serif;
    font-size: 115%;
}