.profile-menu {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hidden-menu {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    background: rgba(0, 0, 0, 0.67);
    padding: 15px 25px 15px 25px;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 100;
    text-align: center;
    border-radius: 1rem;
    font-size: 115%;
    color: white;
    font-family: 'NikeFontLight', serif;
}
.profile-menu:hover .hidden-menu {
    opacity: 1;
    visibility: visible;
}
.hidden-menu a {
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-family: 'NikeFontLight', serif;
    font-size: 100%;
    margin: 5px;
    user-select: none;
}
.hidden-menu button {
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-family: 'NikeFontLight', serif;
    font-size: 100%;
    margin: 5px;
    background-color: transparent;
    border: none;
    padding-left: 0;
    padding-right: 0;
}