<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../auth/login.js"></script>
    <script src="../auth/logout.js"></script>
</head>
<body>
    <main>
        <form onsubmit="dataPOST_login(); return false;">
            <input type="email" id="email" placeholder="Email">
            <input type="password" id="password" placeholder="Hasło">

            <div>
                <input type="checkbox" id="rememberMe">
                <label for="rememberMe">Zapamiętaj mnie</label>
            </div>

            <button>Zaloguj</button>

            <div id="error" style="color: red;"></div>
            <div id="success" style="color: green;"></div>
        </form>
        <button onclick="logout()">Wyloguj</button>
    </main>
</body>
</html>