<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../auth/register.js"></script>
</head>
<body>
    <form>
        <input type="text" id="name" placeholder="name">
        <input type="text" id="surname" placeholder="surname">
        <input type="text" id="email" placeholder="email">
        <input type="text" id="date_birth" placeholder="date_birth">
        <input type="text" id="password" placeholder="password">
        <button type="button" onclick="dataPOST()">Send</button>
    </form>
    <div id="error" style="color: red;"></div>
</body>
</html>