<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up - The Swoosh Store</title>
    <link rel="icon" type="image/x-icon" href="../../assets/images/logo.png">
    <link rel="stylesheet" href="../styles/auth/main.css">
    <link rel="stylesheet" href="../styles/auth/form.css">
    <link rel="stylesheet" href="../styles/auth/password.css">
    <link rel="stylesheet" href="../styles/auth/error.css">
    <link rel="stylesheet" href="../styles/auth/animations.css">
    <link rel="stylesheet" href="../styles/home/footer.css">
    <script src="../auth/register.js"></script>
</head>
<body>
    <main>
        <a href="home.html" class="animated-underline back">⇐ BACK</a>
        <form>
            <div class="title">
                <h1>SIGN UP</h1>
            </div>
            <div class="form-item">
                <div>
                    <label for="name">Name</label>
                    <input type="text" id="name" placeholder="Enter your name">
                </div>
                <div>
                    <label for="surname">Surname</label>
                    <input type="text" id="surname" placeholder="Enter your surname">
                </div>
            </div>
            <div class="form-item">
                <div>
                    <label for="date_birth">Date of birth</label>
                    <input type="text" id="date_birth" placeholder="DD-MM-YYYY" maxlength="10">
                    <script src="../scripts/date-birth.js"></script>
                </div>
                <div>
                    <label for="email">E-mail</label>
                    <input type="text" id="email" placeholder="Enter your e-mail">
                </div>
            </div>
            <div class="form-item">
                <div>
                    <label for="password">Password</label>
                    <div class="password-input-wrapper">
                        <input type="password" id="password" placeholder="Enter your password">
                        <button type="button" id="hide-show" name="hide-show">
                            <img src="../../assets/images/hide.png" id="hide-show-img" alt="hide-show">
                        </button>
                    </div>
                    <script src="../scripts/password.js"></script>
                </div>
                <div>
                    <label for="password_confirmation">Password confirmation</label>
                    <input type="password" id="password_confirmation" placeholder="Confirm your password">
                </div>
            </div>
            <div class="error">
                <div id="error"></div>
            </div>
            <div>
                <button type="button" onclick="dataPOST()">SEND</button>
            </div>
            <div class="sign-in">
                already have an account? <a href="login.html" class="animated-underline sign-in">SIGN IN</a>
            </div>
        </form>
    </main>
    <footer>
        <p>Copyright © 2025 Mateusz Kowalik</p>
    </footer>
</body>
</html>