.form-item {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 3% 0 3% 0;
}
.form-item div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.form-item label {
    font-size: 130%;
}
.form-item input {
    border: 2px solid white;
    border-radius: 1rem;
    padding: 10px;
    text-align: center;
    width: 85%;
    font-size: 115%;
    background-color: transparent;
    transition: all 0.2s ease-in-out;
}
.form-item input:focus {
    background-color: white;
    color: black;
    outline: none;
}
.form-item input:not(:focus) {
    color: white;
}
.form-item input::placeholder {
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
}