@font-face {
    font-family: 'NikeFontLight';
    src: url('../../../assets/fonts/Futura Std Book.ttf') format('truetype');
}
@keyframes slideDown {
    from {
        background-position-y: 0;
    }
    to {
        background-position-y: 1080px;
    }
}
body {
    background-image: url('../../../assets/images/wallpaper.png');
    background-repeat: repeat-y;
    animation: slideDown 45s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: auto 1080px;
    min-height: 100vh;
    margin: 0;
    color: white;
    font-family: NikeFontLight, serif;
}
main {
    background-color: rgb(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 1rem;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1%;
    width: 40%;
}
form {
    width: 100%;
}
.title {
    display: flex;
    justify-content: center;
    align-items: center;
}
.title h1 {
    margin: 0;
}
main button {
    font-family: NikeFontLight, serif;
    color: white;
    background-color: transparent;
    outline: none;
    border: 2px solid white;
    border-radius: 1rem;
    padding: 10px;
    font-size: 115%;
    transition: all 0.2s ease-in-out;
}
main button:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

