.password-input-wrapper {
    position: relative;
    width: 100%;
    margin: 0 auto;
}
.password-input-wrapper input {
    width: 85%;
}
#hide-show {
    position: absolute;
    top: 50%;
    right: 7%;
    transform: translateY(-50%);
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    z-index: 10;
}
#hide-show-img {
    width: 23px;
    height: auto;
    display: block;
}
main button:hover {
    cursor: pointer;

}